header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}

body {
	color: #666;
	background-color: #f9f8f6;
	background-image: url("../images/wood.png");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;
}

.wrapper {
	width: 940px;
	margin: 20px auto;
	border: 2px solid #000;
	background-color: #fff;
}

header {
	height: 160px;
	background-image: url("../images/header.png");
}

h1 {
	text-indent: -9999px;
	width: 940px;
	height: 130px;
	margin: 0px;
}

nav, footer {
	clear: both;
	color: #fff;
	background-color: #aeaca8;
	height: 30px;
}

nav ul {
	color: #fff;
	list-style-type: none;
}

nav li a {
	text-decoration: none;
	color: #fff;
	margin-right: 1em;
	display: inline-block;
	margin-top: 0.25em;
}

nav li a:hover, nav li a.current {
	color: #444;
}

section.courses {
	float: left;
	width: 659px;
	border-right: 1px solid #eee;
	margin-top: 1em;
}

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

hgroup {
	margin-top: 40px;
}

img { max-width: 100%; }

figure {
	float: left;
	width: 290px;
	min-height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eee;
}

figcaption {
	font-size: 90%;
	text-align: left;
}

aside {
	width: 230px;
	float: left;
	padding: 0 0 0 20px;
}

aside section a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #eee;
	margin: 10px 0 5px 0;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #888;
}

aside section a:hover {
	background-color: #ccc;
}

h3 {
	margin: 0 0 10px 0;
	color: #de6581;
}

aside h2 {
	padding: 30px 0 10px 0;
	color: #de6581;
}

footer {
	font-size: 80%;
	padding: 7px 0 0 20px;
}

.video-frame {
	max-width: 100%;
	height: auto;
}

/* Slides */

#slides {
	width: 100%;
	height: 380px;
	overflow: hidden;
	position: relative;
}

#slides .slide {
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}

#slides-left,
#slides-right {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 1em;
	outline: none;
	border: 0;
	margin: 0 0 0 1em;
	border-radius: 50%;
	font-size: 1rem;
	line-height: 1rem;
	background-color: rgba(64, 64, 64, 0.2);
	color: #fff;
	font-weight: bold;
	transition: 0.25s;
}

#slides-right {
	left: unset;
	right: 0;
	margin: 0 1em 0 0;
}

#slides-left:hover,
#slides-right:hover {	
	background-color: rgba(64, 64, 64, 0.8);
}

.slide {
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}

.slide.active {
	opacity: 1;
	visibility: visible;
}

.slide img {
	display: block;
	width: 100%;
}